// Colors
:root {
  --font-inter: "Poppins", sans-serif;
  --bg--main--dark: #16181d;
  --bg--secondary--dark: #20232a;
  --bg--third--dark: #282c34;
  --white: #ffff;
  --secondary--color: #df1d85;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
