<!-- Contact -->
<section class="bg-dark-second">
  <div class="container">
    <h2 class="p-t-25">Contact me</h2>
    <div class="container__contact p-b-25">
      <!-- Input -->
      <div class="flex f-column">
        <label class="bold" for="">Name</label>
        <input type="text" placeholder="Write your name" />
      </div>
      <!-- Input -->
      <div class="flex f-column">
        <label class="bold" for="">Email</label>
        <input type="text" placeholder="Write your email" />
      </div>
      <!-- Text area -->
      <div class="flex f-column">
        <label for="">Message</label>
        <textarea name="" id="" cols="10" rows="5"></textarea>
      </div>

      <button class="btn bg-primary txt-white bold">Send message</button>
    </div>
  </div>
</section>
