<!-- My experience -->
<section class="container">
  <h2>My experience</h2>
  <!-- Card exp -->
  <div class="exp__container">
    <div
      class="card card__exp flex f-column bg-dark"
      *ngFor="let item of [1, 2, 3]"
    >
      <div>
        <p class="title">Frontend Developer</p>
        <p class="company">ATOS</p>
        <p class="date">November 2021 - Present</p>
      </div>
      <p class="description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
        modi sit excepturi, unde id debitis?
      </p>
    </div>
  </div>
</section>
