<!-- About me -->
<section class="container">
  <h2>About me</h2>
  <!-- Container -->
  <div class="container__about">
    <!-- Img -->
    <div class="img__about">
      <img
        src="https://www.eluniverso.com/resizer/cdpBM4nK_I7NF0OZXGk2QjvdsTI=/1005x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/5NNZL55WI5GTNOBHNWRUIMGOGY.jpg"
        alt=""
      />
    </div>
    <!-- Info -->
    <div class="info__about">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum molestias
        laborum sint, quas officia quod consectetur consequatur consequuntur
        porro voluptatum dignissimos suscipit ad animi blanditiis. Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Earum sit cum quibusdam
        aut, officiis unde? Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Cumque, odit obcaecati atque earum rerum, quasi facere nobis culpa
        id dolorum laborum perferendis accusamus. Qui nisi natus architecto
        perspiciatis distinctio at nam hic officia necessitatibus. Asperiores!
      </p>
    </div>
  </div>
</section>
