<!-- Skills -->
<section class="container">
  <h2>Skills</h2>
  <!-- Cards  -->
  <div class="container__cards__skills">
    <!-- Card -->
    <div class="card bg-dark p-l-15 p-r-15" *ngFor="let item of [1, 2, 3, 4]">
      <p class="title__skill">Frontend</p>
      <div class="content__skills">
        <!-- Content -->
        <div class="skill m-b-15" *ngFor="let item of [1, 2, 3, 4, 5]">
          <!-- Skill -->
          <span class="sub_skill">Amazon Web Services</span>
          <div class="progress__bar"></div>
          <span class="sub_skill">25%</span>
        </div>
      </div>
    </div>
  </div>
</section>
